<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="base :: head('بانک سوالات')" />
<body class="bg-dark">
<th:block th:replace="base :: navbar('problems')" />
<div class="container d-flex">
    <div class="d-flex flex-column align-items-center px-2">
        <a class="btn btn-light btn-nowrap" th:href="@{/create}">افزودن سوال</a>
    </div>
    <table class="table text-light mx-3">
        <thead>
        <tr>
            <th scope="col">نام سوال</th>
            <th scope="col">منبع سوال</th>
            <th scope="col">تعداد حل</th>
            <th scope="col">برچسب ها</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="problem: ${problems}">
            <th scope="row"><a th:text="${problem.getTitle()}" th:href="${problem.getId()}"></a></th>
            <td>-</td>
            <td>۰</td>
            <td>جاوا</td>
        </tr>
        </tbody>
    </table>

</div>
<th:block th:replace="base :: scripts" />
</body>
</html>